<div class="card">
    <div class="card-body">
        <h2 class="fw-bolder d-flex align-items-center text-dark">
            Cláusula de información general para dar cumplimiento al artículo 10 de la Ley 34/2002 de Servicios de la Sociedad de la Información y el Comercio Electrónico
        </h2>
        
        <div class="text-gray-400 fw-bold fs-6 pt-10">
            <p>Nombre de dominio: WWW.ASOCIACIONBARATARIA.ES</p>
            <p>Titular de la página web: ASOCIACIÓN BARATARIA</p>
            <p>Número de identificación fiscal: G45319977</p>
            <p>Dirección postal completa: c/ Méjico 2 45004 Toledo</p>
            <p>e-mail: lopd@asociacionbarataria.es</p>
            <p>Datos Registrales: [INCLUIR LOS DATOS DEL REGISTRO DE ASOCIACIONES]</p>
        </div>
    </div>
</div>
