<div class="row justify-content-lg-center pb-4">

    <div class="col-lg-4 mb-4 mb-lg-0 mt-4">
      <!-- Card -->
      <a class="card card-sm card-transition-zoom" href="#">
        <div class="card-transition-zoom-item">
          <img class="card-img opacity" src="/assets/media/barataria/img3.jpg" alt="Image Description">
        </div>
        <div class="card-img-overlay top-auto">
          <div class="d-flex justify-content-end flex-column bg-white rounded-xl p-4" style="border: 3px solid #027762;">
            <h4 class="card-title text-dark mb-1">Oferta Viajes Samaranch</h4>
            <p class="text-dark mb-1">31 de Enero de 2020</p>
          </div>
        </div>
      </a>
      <!-- End Card -->
    </div>
  </div>
