<ul class="menu-nav" [ngClass]="ulCSSClasses">

 <!-- Inicio -->
  <li class="menu-item menu-item-rel" routerLinkActive="menu-item-active">
    <a class="menu-link" routerLink="/inicio" routerLinkActive="active">
      <span class="menu-text text-white">Inicio</span>
      <ng-container *ngIf="rootArrowEnabled">
      </ng-container>
    </a>
  </li>

  <!-- Actividades -->
  <li class="menu-item menu-item-rel" routerLinkActive="menu-item-active">
    <a class="menu-link" routerLink="/actividades" routerLinkActive="active">
      <span class="menu-text text-white">Actividades</span>
      <ng-container *ngIf="rootArrowEnabled">
      </ng-container>
    </a>
  </li>

  <!-- Convenios -->
  <li class="menu-item menu-item-rel" routerLinkActive="menu-item-active">
    <a class="menu-link" routerLink="/convenios" routerLinkActive="active">
      <span class="menu-text text-white">Convenios</span>
      <ng-container *ngIf="rootArrowEnabled">
      </ng-container>
    </a>
  </li>

  <!-- Deportes -->
  <li class="menu-item menu-item-rel" routerLinkActive="menu-item-active">
    <a class="menu-link" routerLink="/deportes" routerLinkActive="active">
      <span class="menu-text text-white">Deportes</span>
      <ng-container *ngIf="rootArrowEnabled">
      </ng-container>
    </a>
  </li>

  <!-- Telefonia -->
  <li class="menu-item menu-item-rel" routerLinkActive="menu-item-active">
    <a class="menu-link" routerLink="/telefonia" routerLinkActive="active">
      <span class="menu-text text-white">Telefonía</span>
      <ng-container *ngIf="rootArrowEnabled">
      </ng-container>
    </a>
  </li>

  <!-- Enlaces -->
  <li class="menu-item menu-item-rel" routerLinkActive="menu-item-active">
    <a class="menu-link" routerLink="/enlaces" routerLinkActive="active">
      <span class="menu-text text-white">Enlaces</span>
      <ng-container *ngIf="rootArrowEnabled">
      </ng-container>
    </a>
  </li>

  <!-- Ofertas -->
  <li class="menu-item menu-item-rel" routerLinkActive="menu-item-active">
    <a class="menu-link" routerLink="/ofertas" routerLinkActive="active">
      <span class="menu-text text-white">Ofertas</span>
      <ng-container *ngIf="rootArrowEnabled">
      </ng-container>
    </a>
  </li>

  <!-- Asociación -->
  <li class="menu-item menu-item-rel" routerLinkActive="menu-item-active">
    <a class="menu-link" routerLink="/asociacion" routerLinkActive="active">
      <span class="menu-text text-white">Asociación</span>
      <ng-container *ngIf="rootArrowEnabled">
      </ng-container>
    </a>
  </li>

   <!-- Aviso Legal -->
   <li class="menu-item menu-item-rel" routerLinkActive="menu-item-active" style="display: none;">
    <a class="menu-link" routerLink="/normativa/aviso-legal" routerLinkActive="active">
      <span class="menu-text text-white">Aviso Legal</span>
      <ng-container *ngIf="rootArrowEnabled">
      </ng-container>
    </a>
  </li>

   <!-- Condiciones de Uso -->
   <li class="menu-item menu-item-rel" routerLinkActive="menu-item-active" style="display: none;">
    <a class="menu-link" routerLink="/normativa/condiciones-de-uso" routerLinkActive="active">
      <span class="menu-text text-white">Condiciones de Uso</span>
      <ng-container *ngIf="rootArrowEnabled">
      </ng-container>
    </a>
  </li>

   <!-- Política de Privacidad -->
   <li class="menu-item menu-item-rel" routerLinkActive="menu-item-active" style="display: none;">
    <a class="menu-link" routerLink="/normativa/politica-de-privacidad" routerLinkActive="active">
      <span class="menu-text text-white">Política de Privacidad</span>
      <ng-container *ngIf="rootArrowEnabled">
      </ng-container>
    </a>
  </li>

</ul>

