<form [formGroup]="form" (ngSubmit) = "guardarActividad()" class="form" id="kt_form">
  <app-notice class="text-right">
    <button *ngIf="mostrarBotonesGeneral" class="btn btn-success " type="submit" name="btn-guardar" [disabled]="form.invalid">
      <i class="fa fa-check"></i>  Guardar
    </button>
    <a *ngIf="mostrarBotonEdit" class="btn btn-info " name="btn-editar" (click)="editarForm()">
      <i class="fa fa-edit"></i>  Editar
    </a>
    <a *ngIf="mostrarBotonDelete" class="btn btn-danger ml-2" name="btn-eliminar" (click)="eliminarForm()">
      <i class="fa fa-trash"></i>  Eliminar
    </a>
  </app-notice>

  <div class="card card-custom gutter-b">
      <div class="card-header">
        <div class="card-title mb-0 text-right">
          <p>Información de la actividad</p>
        </div>
      </div>
      <div class="card-body">
        <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Título</label>
                <input type="text" class="form-control" formControlName="titulo" placeholder="Título de la actividad"/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Fecha Alta</label>
                <div class="input-group">
                  <input class="form-control" placeholder="dd-mm-yyyy" name="dp" ngbDatepicker formControlName="fechaAlta" #d="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-primary" (click)="d.toggle()" type="button">
                      <i class="fa fa-calendar"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Fecha Inicio</label>
                <div class="input-group">
                  <input class="form-control" placeholder="dd-mm-yyyy" name="dp" ngbDatepicker formControlName="fechaInicio" #e="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-primary" (click)="e.toggle()" type="button">
                      <i class="fa fa-calendar"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Fecha Fin</label>
                <div class="input-group">
                  <input class="form-control" placeholder="dd-mm-yyyy" name="dp" ngbDatepicker formControlName="fechaFin" #f="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-primary" (click)="f.toggle()" type="button">
                      <i class="fa fa-calendar"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group mt-0 mt-md-10">
                <mat-checkbox class="example-margin" formControlName="mostrar">Mostrar en la web</mat-checkbox>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Descripción</label>
                <textarea  rows="5" class="form-control" formControlName="texto" placeholder="Descripción de la actividad"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</form>

  <div class="row">
    <div class="col-12">
      <div class="card card-custom gutter-b">
        <div class="card-header">
          <div class="card-title">
            <h3 class="card-label">Documentación</h3>
          </div>
          <div class="card-toolbar">
            <button *ngIf="mostrarBotonesGeneral" type="button" class="btn btn-primary" (click)="crearDocumentacion()">
              <i class="fa fa-plus"></i> Añadir</button>
          </div>
        </div>
        <div class="card-body">
          <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
            <div class="row">
              <div class="col-12">
                <div class="table-responsive angular-bootstrap-table">
                  <table class="table table-head-custom table-vertical-center overflow-hidden">
                    <thead>
                      <tr>
                        <th>Nombre</th>
                        <th>Original</th>
                        <th>Tamaño</th>
                        <th> </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of listDocumentacion">
                        <td>{{ item.nombre }}</td>
                        <td>
                          <div class="btn-group btn-group-sm" role="group">
														<a (click)="download(item.url, item.original)"  class="btn btn-outline-success" title="" target="_blank" >{{ item.original }}</a>
														<a (click)="download(item.url, item.original)"  class="btn btn-outline-success" title=""><i class="fa fa-download"></i></a>
													</div>
                          </td>
                        <td>{{ item.tamanio }}</td>
                        <td>
                          <div *ngIf="mostrarBotonesGeneral" class="text-center accion">
                            <a title="Editar documento" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3"
                            (click)="editarDocumento(item.id)">
                              <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true"
                                class="svg-icon svg-icon-md svg-icon-primary">
                              </span>
                            </a>
              
                            <a title="Eliminar documento" class="btn btn-icon btn-light btn-hover-danger btn-sm"
                              (click)="eliminarDocumento(item.id)">
                              <span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'" cacheSVG="true"
                                class="svg-icon svg-icon-md svg-icon-danger">
                              </span>
                            </a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-5">
      <div class="card card-custom gutter-b">
        <div class="card-header">
          <div class="card-title mb-0 text-right">
            <p>Imagen</p>
          </div>
        </div>
          <div class="card-body">
            <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">

              <div *ngIf="mostrarBotonesGeneral" class="row">
                <div  class="col-12">
                  <div class="form-group">
                    <input #fileInput type="file" accept="image/*" (change)="onUpload($event)">
                  </div>
                </div>
                <div class="col-12 text-center">
                  <div  [className]="mostrarImagen ? 'mostrarImagenArea' : 'ocultarImagenArea'">
                    <img id="imagen-subida" [src]="imagePath" class="img-responsive img-container" style="max-width: 100%;">
                    <a  class="btn btn-danger btn-eliminar-img" (click)="reset(fileInput)"><i class="fa fa-trash"></i> </a>
                  </div>
                </div>
              </div>

              <div *ngIf="!mostrarBotonesGeneral" class="row">
                <div class="col-12 text-center">
                  <div [className]="mostrarImagen ? 'mostrarImagenArea' : 'ocultarImagenArea'">
                    <img id="imagen-subida" [src]="imagePath" class="img-responsive"  style="max-width: 100%;">
                  </div>
                </div>
              </div>
              
            </div>
          </div>
      </div>
    </div>

    <div class="col-12 col-md-7">
      <div class="card card-custom gutter-b">
        <div class="card-header">
          <div class="card-title">
            <h3 class="card-label">Enlaces</h3>
          </div>
          <div class="card-toolbar">
            <button *ngIf="mostrarBotonesGeneral" type="button" class="btn btn-primary" (click)="crearEnlace()">
              <i class="fa fa-plus"></i> Añadir</button>
          </div>
        </div>
          <div class="card-body">
            <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive angular-bootstrap-table">
                    <table class="table table-head-custom table-vertical-center overflow-hidden">
                      <thead>
                        <tr>
                          <th>Nombre</th>
                          <th>Ruta</th>
                          <th> </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of listEnlaces">
                          <td>{{ item.nombre }}</td>
                          <td> <a href="{{ item.url }}" target="_blank">{{ item.url }}</a></td>
                          <td>
                            <div *ngIf="mostrarBotonesGeneral" class="text-center accion">
                              <a title="Edit enlace" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3"
                              (click)="editarEnlace(item.id)">
                                <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true"
                                  class="svg-icon svg-icon-md svg-icon-primary">
                                </span>
                              </a>
                
                              <a title="Eliminar enlace" class="btn btn-icon btn-light btn-hover-danger btn-sm"
                                (click)="eliminarEnlace(item.id)">
                                <span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'" cacheSVG="true"
                                  class="svg-icon svg-icon-md svg-icon-danger">
                                </span>
                              </a>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>




