.upload{
  font-weight:bold;
  color:#28a745;
  margin-left: 15px;
  line-height: 36px;
}

.ocultarImagenArea {
  display: none;
}

.mostrarImagenArea {
  display: block;
  margin: 10px;
  height: auto;
  overflow: auto;
}

.img-wraps {
  position: relative;
  display: inline-block;
  
  font-size: 0;
}
.img-wraps .closes {
  position: absolute;
  top: 5px;
  right: 8px;
  z-index: 100;
  background-color: #FFF;
  padding: 4px 3px;
   
  color: #000;
  font-weight: bold;
  cursor: pointer;
  
  text-align: center;
  font-size: 22px;
  line-height: 10px;
  border-radius: 50%;
  border:1px solid red;
}
.img-wraps:hover .closes {
  opacity: 1;
}

.btn-eliminar-img {
  position: absolute;
  left: 89%;
  bottom: -2%;
  transform: translate(-50%, -50%);
}

.accion {
  justify-content: space-between;
}
