<!--begin::Container-->
<div
  [ngClass]="footerContainerCSSClasses"
  class="d-flex flex-column flex-md-row align-items-center justify-content-between"
>
  <!--begin::Copyright-->
  <div class="text-white order-2 order-md-1">
    <span class="fw-bold me-2">{{ currentDateStr }} &copy;</span>
    <span> Todos los derechos reservados </span>
  </div>
  <!--end::Copyright-->

  <!--begin::Nav-->
  <div class="nav nav-dark order-1 order-md-2">
    <a routerLink="/normativa/aviso-legal" class="nav-link pl-0 pr-5 text-white">Aviso legal</a>
    <a routerLink="/normativa/condiciones-de-uso" class="nav-link pl-0 pr-5 text-white">Condiciones de uso </a>
    <a routerLink="/normativa/politica-de-privacidad" class="nav-link pl-0 pr-0 text-white">Politica de privacidad</a>
  </div>
  <!--end::Nav--> 
</div>
<!--end::Container-->
