<div class="container">

    <h4>Últimas Actividades</h4>
    <div class="row" >
        <div class="col-md-4 mb-4" *ngFor="let actividad of listActividades | async; let i = index" style="padding-inline: 2px;">
          

          <div *ngIf="i<3" class="container">
            <section class="mx-auto my-5" style="max-width: 29rem;">
                
              <div class="card testimonial-card mt-2 mb-3">
                <div class="card-up aqua-gradient"></div>
                <div *ngIf="actividad.listDocumentos?.length > 0;then contieneDoc else noContieneDoc"></div>
                    <ng-template #contieneDoc>
                      <div class="avatar mx-auto white" *ngFor="let documento of toArrayEnlaces(actividad.listDocumentos)">
                          <a (click)="download(documento.url, documento.nombre)" target="_blank" >
                            <img class="rounded-circle img-fluid"  alt="Logo" src={{actividad.imagenServidorBase64}} />
                          </a>
                      </div>
                      <div class="p-2" *ngFor="let documento of toArrayEnlaces(actividad.listDocumentos)">
                      </div>
                    </ng-template>
                    <ng-template #noContieneDoc>
                      <div class="avatar mx-auto white">
                        <img src={{actividad.imagenServidorBase64}} class="rounded-circle img-fluid"
                          alt="avatar">
                      </div>
                    </ng-template> 

                
                <div class="card-body text-center">
                  <h4 class="card-title font-weight-bold">{{actividad.titulo}}</h4>
                  <p class="fecha"><i class="fas fa-calendar"></i> {{ convertDate(actividad) }}</p>
                  <hr>
                </div>
              </div>
              
            </section>
          </div>


        </div>
    </div>

    <h4>Últimos Convenios</h4>
    <div class="row">
        <div class="col-md-4" *ngFor="let convenio of listConvenios | async; let i = index">
        


        <div *ngIf="i<3" class="container">
          <section class="mx-auto my-5" style="max-width: 29rem;">
              
            <div class="card testimonial-card mt-2 mb-3">
              <div class="card-up aqua-gradient"></div>
              <div *ngIf="convenio.listDocumentos?.length > 0;then contieneDoc else noContieneDoc"></div>
                  <ng-template #contieneDoc>
                    <div class="avatar mx-auto white" *ngFor="let documento of toArrayEnlaces(convenio.listDocumentos)">
                        <a (click)="download(documento.url, documento.nombre)" target="_blank" >
                          <img class="rounded-circle img-fluid"  alt="Logo" src={{convenio.imagenServidorBase64}} />
                        </a>
                    </div>
                    <div class="p-2" *ngFor="let documento of toArrayEnlaces(convenio.listDocumentos)">
                    </div>
                  </ng-template>
                  <ng-template #noContieneDoc>
                    <div class="avatar mx-auto white">
                      <img src={{convenio.imagenServidorBase64}} class="rounded-circle img-fluid"
                        alt="avatar">
                    </div>
                  </ng-template> 

              
              <div class="card-body text-center">
                <h4 class="card-title font-weight-bold">{{convenio.titulo}}</h4>
                <div *ngFor="let enlace of toArrayDocumentos(convenio.listEnlaces)" class="col-12 px-4 py-2">
                    <a href="{{enlace.url}}" target="_blank" class="stretched-link "><i class="fas fa-globe"></i><span class="ml-2">{{enlace.nombre}}</span></a>
                </div>
                <hr>
              </div>
            </div>
            
          </section>
        </div>


        </div>
    </div>

</div>