<div class="container">
    <div class="card">
        <div class="card-body" style="text-align: justify;">
            <h2 class="fw-bolder d-flex align-items-center text-dark">
                1.- PROPIEDAD, USO RESPONSABLE Y FINALIDAD DEL SITIO WEB.
            </h2>
            
            <div class="text-gray-400 fw-bold fs-6 py-5">
                <p>Este sitio web es propiedad de ASOCIACIÓN BARATARIA (en adelante, BARATARIA) y su contenido tiene un carácter informativo de los servicios prestados 
                    por esta Entidad, así como facilitar a los usuarios la información que soliciten a través de correo electrónico o formularios que pudieran habilitarse 
                    a estos efectos, la recepción de curriculum vitae y, en su caso, el envío del boletín a los usuarios que realizaran su suscripción, todo ello, sujeto 
                    a la política de la Entidad en materia de protección de datos y que se detalla en la política de privacidad de estas condiciones de uso.</p>
                <p>El hecho de acceder a este sitio web implica el conocimiento y aceptación de los siguientes términos y condiciones de uso de su contenido, así como la 
                    aceptación de la política establecida en materia de protección de datos cuando se faciliten datos de carácter personal propios o de terceros, y atribuye 
                    la condición del usuario del Portal y el acceso al mismo implica su aceptación sin reservas.</p>
                <p>Salvo indicación expresa en contrario, el acceso a la información mostrada en las páginas del portal, es totalmente gratuita.</p>
                <p>BARATARIA, titular del web, se reserva la facultad de efectuar, en cualquier momento y sin necesidad de aviso previo, modificaciones y actualizaciones de la 
                    información contenida en su web o en la configuración y presentación de éste.</p>
                <p>BARATARIA no garantiza la inexistencia de errores en el acceso a la web, en su contenido o en la actualización de éste. Sin embargo, pondrá todos los medios 
                    a su alcance para evitarlos, subsanarlos o actualizarlos.</p>
                <p>Tanto el acceso a esta web como el uso que pueda hacerse de la información contenida en la misma es responsabilidad exclusiva de quien lo realiza. BARATARIA 
                    no responderá de ninguna consecuencia, mal funcionamiento, daño o perjuicio que pudieran derivarse de dicho acceso o uso de la información ajenas a su 
                    voluntad.</p>
                <p>El usuario asumirá todos los gastos, costes e indemnizaciones que pudieran derivarse de procesos iniciados contra él por incumplimiento de lo establecido en las 
                    condiciones de uso. </p>
                <p>BARATARIA no se responsabiliza del estado de la conexión de acceso o de los contenidos de los enlaces de terceros a los que se hace referencia en la web.</p>
                <p>Los datos correspondientes a la titularidad del sitio web y que dan cumplimiento al artículo 10 de la LSSI se pueden consultar en el apartado Aviso Legal que se 
                    encuentra al pie de página de este sitio en Internet.</p>
                <p>La finalidad de este sitio web es el descrito a continuación: informar a los usuarios de los servicios ofrecidos por BARATARIA, facilitar la información que los 
                    usuarios soliciten y el envío del newsletter a los usuarios que se registren y lo soliciten en caso de ofrecer este servicio, así como, en su caso, la recepción de 
                    curriculum vitae de los usuarios que deseen remitirlo a BARATARIA.</p>
            </div>
    
            <h2 class="fw-bolder d-flex align-items-center text-dark">
                2.- PROPIEDAD INTELECTUAL E INDUSTRIAL.
            </h2>
            
            <div class="text-gray-400 fw-bold fs-6 py-5">
                <p>Quedan reservados todos los derechos de Propiedad Industrial e Intelectual de los elementos que integran el diseño gráfico de su página web, los menús, 
                    botones de navegación, el código HTML, los applets de Java o Java Script, los controles de Actives, los textos, imágenes, texturas, gráficos y cualquier 
                    otro contenido del “web site” o, en cualquier caso, dispone de autorización para la utilización de dichos elementos.</p>
                <p>Asimismo, BARATARIA es titular de los derechos de propiedad industrial derivados del uso de marcas, signos distintivos y nombres comerciales, excepto los 
                    correspondientes a patrocinadores, sponsor, anunciantes, etc., que pudieran aparecer en este sitio web, así como los correspondientes a enlaces que puedan 
                    realizarse desde esta página web.</p>
                <p>Las fotografías que pudieran aparecer en el sitio web o a través de enlaces a otras páginas, no podrán ser utilizadas por el usuario con ninguna finalidad, 
                    sin la autorización de su propietario. La utilización indebida de las mismas por parte del usuario le hará responsable único frente a BARATARIA y frente a 
                    terceros, de los daños ocasionados así como de los incumplimientos legales que pudieran derivarse de la utilización de las mismas.</p>
                <p>BARATARIA se reserva los derechos de reproducción, modificación, adaptación, comunicación pública, mantenimiento, corrección de errores, cesión, venta, alquiler, 
                    préstamo y/o cualquier otro derecho de propiedad intelectual o industrial que pueda corresponderle sobre los contenidos del web site. Cualquier ejercicio de los
                    anteriores derechos, con independencia del medio o forma en el que se produjeran, requiere autorización previa y por escrito de BARATARIA.</p>
                <p>En ningún caso, BARATARIA será responsable de las posibles infracciones que en materia de propiedad intelectual e industrial pudiera cometer cualquier usuario 
                    del web site. </p>
                <p>BARATARIA se reserva el derecho a modificar el contenido y elementos que integran su web site, sin necesidad de comunicarlo previamente, cuando lo estime conveniente 
                    de acuerdo con el ejercicio de sus servicios.</p>
                <p>BARATARIA no se responsabiliza de la integridad y veracidad del contenido de los enlaces a las web sites a los que pueda accederse desde su página Web.</p>
                <p>BARATARIA pone a disposición de los usuarios un grupo de profesionales encargados de actualizar y revisar la veracidad y la integridad del contenido de las informaciones 
                    vertidas en el web site. Sin embargo, dada la naturaleza del medio y los posibles riesgos de interrupción del servicio, alteración del acceso o de los contenidos del web 
                    site por parte de terceros, BARATARIA excluye cualquier responsabilidad que pudiera surgir de los contenidos que figuran en su web site.</p>
            </div>
    
            <h2 class="fw-bolder d-flex align-items-center text-dark">
                3.- DATOS PERSONALES Y COOKIES.
            </h2>
            
            <div class="text-gray-400 fw-bold fs-6 py-5">
                <p>En cumplimiento de la Ley Orgánica 15/1999, de 13 de Diciembre, de Protección de Datos de Carácter Personal y su Reglamento de Desarrollo, BARATARIA comunica 
                    a los usuarios de www.asociacionbarataria.es, que los datos facilitados a través del sitio web mediante los correspondientes formularios y los correos 
                    electrónicos recibidos solicitando información o enviando su curriculum vitae y/o los datos aportados en el registro de suscripción del boletín informativo, 
                    y que tienen la consideración de datos de carácter personal, serán incorporados a ficheros y tratados automatizadamente o no por parte de BARATARIA en 
                    calidad de responsable del fichero, en C/ Méjico 2, 45004 Toledo. Dichos ficheros se encuentran inscritos en la Agencia Española de Protección de Datos 
                    conforme a la legislación vigente y normativa de desarrollo.</p>
                <p>Los usuarios garantizan y responden, en cualquier caso, de la veracidad, exactitud, vigencia, autenticidad de los Datos Personales proporcionados, y se 
                    comprometen a mantenerlos debidamente actualizados. Asimismo, los usuarios garantizan ser mayores de 14 años.</p>
                <p>La finalidad del tratamiento será la de gestionar la petición realizada a través de la web ya sea a través de formulario de contacto o cualquier otro tipo 
                    de impreso on line, o bien a través de una petición por correo electrónico. Tal petición podrá ser, sin carácter limitativo, la gestión de una petición, 
                    la contestación a una solicitud de información comercial, la solicitud de empleo o incluso el alta en boletines informativos de la empresa (en su caso), 
                    así como cualquier otra interacción entre el usuario de la web y BARATARIA que tienda a satisfacer la necesidad del usuario. Todos los datos solicitados 
                    son necesarios para poder atender la solicitud. Asimismo, la finalidad de la recogida de datos será la de enviar al usuario información comercial sobre 
                    productos o servicios relacionados con la empresa y que pudieran ser de su interés, por cualquier medio, incluidos el electrónico, incluso una vez finalizada 
                    la relación negocial o contractual.</p>
                <p>En caso de que el usuario no deseara este último tratamiento tendrá oportunidad de oponerse a la recepción de las comunicaciones comerciales marcando la casilla 
                    correspondiente en el propio formulario de información o contacto, o incluso ejercitando su derecho de oposición en la dirección anteriormente mencionada.</p>
                <p>En cualquier caso, el usuario siempre dispondrá de sus derechos de acceso, rectificación, cancelación y oposición que podrá ejercitar ante BARATARIA en la dirección 
                    C/ Méjico 2, 45002 Toledo mediante la debida acreditación de su identidad (Copia de su DNI).</p>
                <p>En caso de que se facilitaran datos de carácter personal, por personas no titulares de los mismos, el usuario deberá, con carácter previo a su inclusión, informar 
                    a dichas personas de los extremos contenidos en los párrafos anteriores. En estos casos, el usuario garantiza que los datos informados son de mayores de 14 años 
                    y que la información es exacta y veraz.  BARATARIA quedará exenta de cualquier responsabilidad por el incumplimiento por parte del usuario de estos requisitos.</p>
                <p>El responsable del fichero ha adoptado los niveles de seguridad de protección de los Datos Personales legalmente requeridos, y ha instalado todos los medios y medidas 
                    técnicas a disposición según el estado de la tecnología para evitar la pérdida, mal uso, alteración, acceso no autorizado y robo de los Datos Personales facilitados.</p>
                <p>El usuario cuenta con la confidencialidad y el deber de secreto de los empleados de BARATARIA y de todos aquellos que traten los datos en nombre y por cuenta del mismo. 
                    Sin perjuicio de lo anterior, el usuario es consciente de la posibilidad de que la seguridad de las comunicaciones a través de red no sea invulnerable.</p>
                <p>El acceso a este sitio web puede implicar la utilización de cookies. Las cookies son pequeñas cantidades de información que se almacenan en el navegador utilizado por el 
                    usuario, de manera que el servidor registra información que puede utilizarse en accesos posteriores. La información almacenada permite identificar a un usuario concreto
                    y tener registrada información sobre sus preferencias, páginas que visite, etc. Si no desea permitir la instalación de cookies en su ordenador deberá configurar su 
                    navegador a tal efecto.</p>
            </div>
    
            <h2 class="fw-bolder d-flex align-items-center text-dark">
                4.- HIPERENLACES.
            </h2>
            
            <div class="text-gray-400 fw-bold fs-6 py-5">
                <p>El establecimiento de cualquier hiperenlace desde una pagina web ajena, a cualquiera de las páginas del este sitio web se realizará conforme 
                    a las siguientes condiciones:</p>
                <ul>
                    <li>No se permite la reproducción ni total ni parcial de ninguno de los servicios contenidos en este sitio web.</li>
                    <li>No se incluirá ninguna manifestación falsa, inexacta o incorrecta sobre las páginas de este sitio web y sus servicios.</li>
                    <li>BARATARIA no será responsable de los contenidos, informaciones, manifestaciones, opiniones o servicios puestos a disposición del 
                        público en la página web desde la que se establezca un hiperenlace a este sitio web.</li>
                    <li>Cualquier hiperenlace se efectuará a la página principal de este sitio web.</li>
                </ul>
    
                <p>En el caso de que existan, los hiperenlaces de este sitio web habrán sido validados de forma previa con los titulares de las páginas 
                    webs enlazadas, no siendo responsable BARATARIA de las actividades que realicen los usuarios en dichas páginas enlazadas, especialmente en 
                    los casos de que sean contrarios a la ley, la moral y el orden público.</p>
            </div>
    
            <h2 class="fw-bolder d-flex align-items-center text-dark">
                5.- VIGENCIA DE LAS CONDICIONES DE USO.
            </h2>
            
            <div class="text-gray-400 fw-bold fs-6 py-5">
                <p>Las Condiciones de Uso para el uso de esta web tienen carácter indefinido y permanecerán vigentes mientras el portal esté activo. El usuario 
                    reconoce haber leído las presentes Condiciones y presta su conformidad con las mismas.</p>
            </div>
    
            <h2 class="fw-bolder d-flex align-items-center text-dark">
                6.- NULIDAD Y EFICACIA DE LAS CLÁUSULAS.
            </h2>
            
            <div class="text-gray-400 fw-bold fs-6 py-5">
                <p>Si cualquier cláusula incluida en estas condiciones fuese declarada total o parcialmente nula o ineficaz, tal nulidad afectará tan sólo a 
                    dicha disposición o la parte de la misma que resulte nula o ineficaz, subsistiendo en todo lo demás las condiciones.</p>
            </div>
    
            <h2 class="fw-bolder d-flex align-items-center text-dark">
                7.- LEY Y JURISDICCIÓN APLICABLES.
            </h2>
            
            <div class="text-gray-400 fw-bold fs-6">
                <p>Las presentes Condiciones de Uso se rigen por la legislación española. En caso de disputa o controversia relacionada con la 
                    interpretación o aplicación de estas Condiciones Generales, las partes se someten, con renuncia expresa a cualquier otro fuero, a los 
                    Juzgados y Tribunales de la ciudad de Toledo.</p>
            </div>
        </div>
    </div>
    
</div>
