<div class="row">
    <div class="col-md-6" *ngFor="let convenio of list">
      <div class="card card-custom bg-gray-100 card-stretch gutter-b">
        <!-- Header -->
        <div class="card-header border-0 bg-barataria py-5  text-right">

            
  
              <div class="col-md-4 order-2 order-md-1 text-center p-0" style="display: block;margin: auto;"> 
                <div *ngIf="convenio.listEnlaces?.length > 0;then contieneEnlace else noContieneEnlace"></div>
                <ng-template #contieneEnlace>
                  <div class="p-2" *ngFor="let enlace of toArrayEnlaces(convenio.listEnlaces)">
                    <a href="{{enlace.url}}" target="_blank">
                      <img class="img-fluid img-thumbnail img-responsive" style="min-height: 100px !important;" alt="Logo" src={{convenio.imagenServidorBase64}} />
                    </a>
                  </div>
                </ng-template>
                <ng-template #noContieneEnlace>
                  <img class="img-fluid img-thumbnail img-responsive" style="min-height: 100px !important;" alt="Logo" src={{convenio.imagenServidorBase64}} />
                </ng-template> 
              </div>
          
            <div class="col-md-8 order-1 order-md-2">
                <div class="text-center mb-5 pt-10">
                    <div *ngIf="convenio.listEnlaces?.length > 0;then contieneEnlace2 else noContieneEnlace2"></div>
                    <ng-template #contieneEnlace2>
                      <div class="p-2" *ngFor="let enlace of toArrayEnlaces(convenio.listEnlaces)">
                        <a href="{{enlace.url}}" target="_blank" class="stretched-link text-white"><h2 >{{convenio.titulo}}</h2></a>
                      </div>
                    </ng-template>
                    <ng-template #noContieneEnlace2>
                      <h2 class="font-weight-bolder text-white mb-0">{{convenio.titulo}}</h2>
                    </ng-template> 
                </div>
            </div>
  
        </div>
        <!-- Body -->
        <div class="card-body p-0 position-relative overflow-hidden">
          <div id="kt_mixed_widget_1_chart" class="card-rounded-bottom bg-barataria" [style.height]="'50px'">
          </div>
          <!--begin::Stats-->
          <div class="card-spacer mt-n25">
            <!--begin::Row-->
            <div class="row m-0">
              <div class="col bg-white px-6 py-8 rounded-xl mr-7 mb-7" style="border: 3px solid #027762;">
                <p class="text-dark font-weight-bold font-size-h6">{{convenio.texto}}</p>
              </div>
            </div>
            <!--end::Row-->
            <div ngbDropdown *ngIf="convenio.listDocumentos?.length > 0" class="row">
              <div *ngFor="let documento of toArrayDocumentos(convenio.listDocumentos)" class="col-12 px-4 py-2">
                <a (click)="download(documento.url, documento.nombre)" target="_blank" class="g-color-gray-dark-v4"><i class="far fa-file mr-4"></i>{{documento.nombre}}</a>
            </div>
            </div>

          </div>
          <!--end::Stats-->
        </div>
      </div>
    </div>
  </div>
   